<div class="flex justify-content-center align-items-center m-5">
  <h1>Welcome to Our Learning Platform!</h1>
</div>
<div class="flex justify-content-center align-items-center">


  <div class="w-3 p-2">
    <mat-card class="example-card p-3 h-10" appearance="outlined">
      <mat-card-header>
        <div class="example-header-image"></div>
        <mat-card-title>Students </mat-card-title>
        <mat-card-subtitle>Search Studetns</mat-card-subtitle>
        <mat-icon class="custom-icon" mat-card-avatar>badge</mat-icon>
      </mat-card-header>
      
      <mat-card-content>
        <p>
          Use the search field to find a specific student in our list. Simply enter the name or any other relevant information of the student you are looking for.
        </p>

        <button mat-flat-button class="mt-4" routerLink="/dashboard/students">
          Search now
        </button>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="w-3 p-2">
    <mat-card class="example-card p-3 h-10" appearance="outlined">
      <mat-card-header>
        <div class="example-header-image"></div>
        <mat-card-title>Courses </mat-card-title>
        <mat-card-subtitle>Search Course</mat-card-subtitle>
        <mat-icon class="custom-icon" mat-card-avatar>book</mat-icon>
      </mat-card-header>
      
      <mat-card-content>
        <p>
          Use the search field to find a specific course in our list. Simply enter the name or any other relevant information of the course you are looking for.
        </p>

        <button mat-flat-button class="mt-4" routerLink="/dashboard/courses">Search now</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
